<div class="container-fluid" style="padding-top: 15px">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <location-search></location-search>
        </div>
    </div>
    <div class="row" style="padding-top: 20px">
        <div class="col-md-6">
            <weather-component></weather-component>
        </div>
        <div class="col-md-6">
            <twitter-component></twitter-component>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <images-component></images-component>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <meetup-component></meetup-component>
        </div>
    </div>
</div>