<div class="panel panel-info">
    <div class="panel-heading">
        <span>Latest events</span><span *ngIf=(meetupData)> from {{placeObject.formattedAddress}}</span>
    </div>
    <div *ngIf="(meetupData)" style="height: 280px; overflow: auto;">
        <table class="table table-striped">
            <tbody>
                <tr *ngFor="let event of meetupData">
                    <td>
                        <span><b>{{event.group.name}}</b> - </span>
                        <span><b><a href="{{event.link}}" target="_blank">{{event.name}}</a></b></span>
                        <span> - {{event.time | date:"MMM dd HH:mm"}}</span>
                        <br />
                        <span innerHtml="{{event.description}}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>