<div class="panel panel-info">
    <div class="panel-heading">
        <span>Weather</span><span *ngIf=(weatherData)> in {{placeObject.formattedAddress}}</span>
    </div>
    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let weatherObject of weatherData">
                <td>
                    <h4>{{weatherObject.dt_txt | date:'shortTime'}}</h4>
                </td>
                <td style="vertical-align: top; padding: 0">
                    <h2><i class="wi wi-owm-{{weatherObject.weather[0].id}}"></i></h2>
                </td>
                <td>
                    <h4><span>{{weatherObject.main.temp | temperatureFilter: ['celsius', 1]}}°C</span></h4>
                </td>
                <td>
                    <h4>{{weatherObject.weather[0].main}}</h4>
                </td>
            </tr>
        </tbody>
    </table>

    <!--<div *ngIf="(weatherData)" class="container-fluid">
        <div class="row" *ngFor="let weatherObject of weatherData">
            <div class="col-sm-4"><h4>{{weatherObject.dt_txt | date:'shortTime'}}</h4></div>
            <div class="col-sm-5">
                <h2><i class="wi wi-owm-{{weatherObject.weather[0].id}}"></i></h2>
                <h4><span>{{weatherObject.main.temp | temperatureFilter: ['celsius', 1]}}°C</span></h4>
            </div>
            <div class="col-sm-3"><h4>{{weatherObject.weather[0].main}}</h4></div>
        </div>
    </div>-->
</div>